@model ExpenseTracker.Web.Models.ExpenseDTO

@{
    ViewData["Title"] = "Create";
}
@*Client side Validation*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
*@
<h4>Expense Create</h4>

<hr />

<div class=""container>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                     <select asp-for="CategoryID" class="form-control">
                      <option value="">-- Select Category --</option>
                      @foreach (var item in Model.CategoryDropDownList)
                      {
                          <option value="@item.CategoryID">
                                @item.CategoryName
                            </option>
                      }

                    </select> 
                </div>

                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" data-val="true" 
                    data-val-length="The field Amount must be a Number with a minimum length of 3 and a maximum length of 50." 
                    data-val-length-max="50" data-val-length-min="3" data-val-required="The Amount field is required." placeholder="Amount" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                @*<div class="form-group">
                    <label asp-for="ExpenseDate" class="control-label"></label>
                    <input asp-for="ExpenseDate" class="form-control" />
                    <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                 <label asp-for="ExpenseDate" class="control-label"></label>
                 <div class="input-group date">
                 <input asp-for="ExpenseDate" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                  <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                 <span class="input-group-addon " id="btnPicker">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                 </div>
                 
               </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script>
        $(function () {
            $("#datepicker").datepicker({
                 dateFormat: "dd/MM/yy",
                changeMonth: true,
                changeYear: true,
                ignoreReadonly: true,
                maxDate: 'now',
            });
        });
         $("#btnPicker").click(function () {
           $("#datepicker").focus();
        });
    </script>
}




