@model ExpenseDTO

@{
    ViewData["Title"] = "Edit";
}
@*Client side Validation*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://use.fontawesome.com/c7a575b4de.js"></script>
<h4>Edit Expense</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ExpenseID" type="hidden" class="form-control" /> 
                <input asp-for="DateCreated" type="hidden" class="form-control" />
                <input asp-for="IsRowDeleted" type="hidden" class="form-control" /> 
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control">
                    <option value="">-- Select Category --</option>
                    @foreach(var item in Model.CategoryDropDownList)
                    {
                        <option value="@item.CategoryID">
                            @item.CategoryName
                        </option>
                    }
                </select> 
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" data-val="true" 
                    data-val-length="The field Amount must be a Number with a minimum length of 3 and a maximum length of 50." 
                    data-val-length-max="50" data-val-length-min="3" data-val-required="The Amount field is required." />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div> *@ 
             <div class="form-group">
                 <label asp-for="ExpenseDate" class="control-label"></label>
                 <input asp-for="ExpenseDate" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                  <span asp-validation-for="ExpenseDate" class="text-danger"></span>
               </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block " type="submit">
                    <i class="fa fa-plus"></i>
                    <span>Save Expense</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                 dateFormat: "dd/MM/yy",
                changeMonth: true,
                changeYear: true,
                ignoreReadonly: true,
                maxDate: 'now'
            });
        });
    </script>
}